version: "3.9"
services:
  myapp:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: cmd/myapp
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
      - rabbit
    env_file:
      - .env
  consumer:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: cmd/consumer
    depends_on:
      - mysql
      - redis
      - rabbit
    env_file:
      - .env
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydb
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbit:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mysql_data:
